/*============= RESETS =============*/

/*-- iPhone X Remove Gutters --*/
html {
    padding: env(safe-area-inset);
}

/*-- Body Font --*/
body {
    font-family: 'lato', sans-serif;
    color: black;
}

/*============= NAVIGATION =============*/
.navbar-brand img {
    height: 2.5rem;
}

.navbar {
    padding: .6rem 1rem;
    font-size: .9rem;
    letter-spacing: .1rem;
    background-color: rgba(57, 63, 70, .9);
}

.navbar-nav {
    padding-right: .8rem;
}

.navbar-nav .nav-link {
    padding: .8rem;
    color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: #00b3ff;
}

.svg-inline--fa.fa-bars {
    color: white;
    font-size: 1.6rem;
}

/*-- Remove Button Outline --*/
button:active,
button:focus {
    outline: 0;
}