
.navbar-nav {
    padding-right: .8rem;
}

.navbar-nav .nav-link {
    padding: .8rem;
    color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: #00b3ff;
}

.svg-inline--fa.fa-bars {
    color: white;
    font-size: 1.6rem;
}

/*-- Remove Button Outline --*/
button:active,
button:focus {
    outline: 0;
}

header {
    --text: #f4f4f4;
    --text-inverse: #333;
    --background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 3em;
    transition: background 250ms ease-in;
    background: var(--background);
    color: var(--text);
}


.jumbotron .container {
    padding: 100px 0;
}

.bg-cover {
    background-image: url('../img/ux-bg.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: -2;
}

.overlay {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.header .jumbotron {
    padding-top: 19vh;
}

.heading-txt {
    text-shadow: 2px 1px 5px #24221E;
    font-size: 6vh;
    font-weight: bolder;
    position: relative;
    padding-bottom: 10vh;
}

.title .jumbotron {
    background-color: #24221E;
}

.title .h1 {
    text-align: center;
    margin: 10vh;
}

.jumbotron {
    margin: 0;
}

.content {
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #924545;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/*============= MEDIA QUERIES =============*/

/* Medium (md) devices (tablets, 768px and under) */
@media (max-width:767px) {
    .caption {
        top: 35%;
    }

    .caption h1 {
        font-size: 1.8rem;
    }
}

/*============ BOOTSTRAP BREAK POINTS:
  
  Extra small (xs) devices (portrait phones, less than 576px)
  No media query since this is the default in Bootstrap
  
  Small (sm) devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... }
  
  Medium (md) devices (tablets, 768px and up)
  @media (min-width: 768px) { ... }
  
  Large (lg) devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }
  
  Extra (xl) large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }
  
  =============*/